*.7z
*.env
public_html/new_html/load_env.php
public_html/revisions
public_html/revisions_new/*/*.txt
public_html/revisions_new/*/*.html
public_html/w/ContentTranslation-repo.lnk
public_html/get_html/*/*.html
